<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Translator</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Responsive Css Links -->

    <link rel='stylesheet' media='screen and (min-width: 100px) and (max-width: 799px)' href="{{ url_for('static', filename='mobile.css') }}" />

</head>

<body>
    <div class="container">
        <div class="navbar">
            <nav>
                <ul>
                    <h1>Language Translator</h1>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Premium</a></li>
                    <li style="float:right;color:white;font-size:36px"><i class='fa fa-user-circle-o'></i></li>
                </ul>
            </nav>
        </div>

        <div class="spokentext">
            <form name="mic" action="/mic-on">
                <button class="gradient-border">
                    <i class="fa fa-microphone" style="font-size:36px;color: white;"></i>
                    <h2>Speak Something...</h2>
                </button>

                <div class="text">
                    <p>{{spoken}}</p>
                </div>
            </form>
        </div>

        <div>
            <form class="btnandlang" name="conv" action="/convert" method="post">
                <button class="btnconvert">Convert</button>

                <div class="langselector">
                    <select id="languageDropdown" class="lang" name="lang">
                        <!-- Dropdown options will be generated here -->
                    </select>
                </div>
            </form>
        </div>

        <div class="convertedtext">
            <div class="text">
                <p>{{translated}}</p>
            </div>

            <div class="controls">
                <ul>
                    <form action="/download">
                        <li><button><i class="fa fa-download" style="font-size:30px"></i></button></li>
                    </form>
                    <li><button id="copy-button"><i class="fa fa-copy" style="font-size:30px;"></i></button></li>
                    <form action="/speak-on">
                        <li><button><i class="fa fa-volume-up" style="font-size:30px"></i></button></li>
                    </form>
                </ul>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>